{% extends '<app_name>/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'users_app/profile.css' %}">

  <div class="media mt-3">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
  </div>
  <p>{{ user.profile.description }}</p>

  

{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

{% block title_block %}
- my profile
{% endblock title_block%}