{% extends 'test_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'test_app/home.css' %}">
{% if request.GET.next %}
  <div class="alert alert-danger mt-2 mb-0">
    You have to log in to access that page.
  </div>
{% endif %}
<div class="jumbotron mb-0 py-4">
  <h2 class="title">Password reset complete</h2>
</div>
<div>
  
</div>
  

{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

{% block title_block %}
- login
{% endblock title_block%}